nav {
  background-color: white;
}
#logo1 { 
  padding-top: 1em;
  float: left;
  width: 7%;
  text-align: center;
  align-content: center;
}
#logo2 {
  float: left;
  width: 35%;
  text-align: center;
  align-content: center;
  margin-top: 1em;
}
.navbar-header{
  text-align: center;
  align-content: center;
}
#logoFontX{
  
  font-family: 'Times New Roman', Times, serif;
  font-display: bold;
}
#estimations{
  font-size: 2em;
  text-align: center;
  align-content: center;
}
h1 {
  margin-top: 2em;
  font-size: 2em;
}
form{
  padding-top: 2em;
}
#block-header{
  font-size: 2em;
  align-content: center;
  align-items: center;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: none;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#plasmaImage{
  background-image: url("assets/imgs/16062186393_7b69dd6257_o.jpg");
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.home1{
  font: black;
}

.news1{
  font: black;
}

.contact1{
  font: black;
}

#subBtn {
  border-color: white;
  background-color: red;
} 

#plasmaImage {
  width: 45%;
  height: auto;
}